<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('../partials/head') %>
</head>
	<%- include('../partials/header') %>

<body>
	<div class="container">
		<div class="row text-center">
			<div class="col">
				<h1>Hello, <%= currentUser.firstName %> </h1>
			</div>
		</div>

		<%- include('../partials/calendar/calendar.ejs') %>
	</div>
	
	<div></div>

	<div class="container mt-5">
		<div class="row text-center my-4">
			<div class="col">
				<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#newBillModal"> Add new Bill</button>
			</div>
		</div>

		<%- include('../partials/newBillModal.ejs') %> 
		<%- include('../partials/editBillModal.ejs') %> 
		<%- include('../partials/approveDeleteModal.ejs') %> 

		<table class="table">
			<thead>
			  <tr>
				<th scope="col"></th>
				<th scope="col">Name</th>
				<th scope="col">Amount</th>
				<th scope="col">Due Date</th>
			  </tr>
			</thead>
			<tbody>
				<% currentUser.expenses.forEach((item, index) => { %>
					<tr>
						<td>
							<div class="dropdown">
								<div class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								  Edit
								</div>
								<div class="dropdown-menu px-0 mx-0" aria-labelledby="dropdownMenuButton">
								  <a class="dropdown-item editBillBtn" data-toggle="modal" data-index=<%= index %> data-target="#editBillModal" href="#">Edit Bill</a>
								  <a class="dropdown-item deleteBillBtn" data-toggle="modal" href="#" data-index=<%= index %> data-target="#approveDeleteModal" >Delete Bill</a>
								</div>
							  </div>
						</td>
						<td><%= item.expenseName %> </td>
						<td>$<%= item.expenseAmount %> </td>
						<td><%= item.dueDate %></td>
					  </tr>	
				<% }) %> 
			</tbody>
		  </table>
		  <h1>Monthly Total: <%= currentUser.expenseTotal() %> </h1>
	</div>
	<%- include('../partials/jsPath') %>
</body>

</html>
